h1, h2, h3 {
	color: #5b2c00;
}

/*.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}*/

textarea{
    width:100%;
}

.error{
    color:red;
}

.login{
text-align:right;
}

.withgravy{
    font-style:italic;
    font-weight:bold;
    color: #5b2c00;
}

.fig{
  border:1px solid grey
}

